{{!< default}}
<main id="posts" class="main-primo" role="main">	
	{{#tag}}
		<div id="content-tags"># {{name}}</div>
	{{/tag}}
		
	<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "gutter": 5, "gutter": ".gutter-sizer", "columnWidth": ".grid-sizer", "percentPosition": true }'>
		<div class="grid-sizer"></div>
		<div class="gutter-sizer"></div>
		
		{{#foreach posts}}
			<a href="{{{url}}}" class="post grid-item" role="article" itemscope itemtype="http://schema.org/Article">
				{{#if feature_image}}
					<div class="post-image" style='background-image: url("{{feature_image}}")'></div>
				{{/if}}
				<div class="post-content">
					<header class="post-header">
						<h2 class="post-title" itemprop="headline">{{title}}</h2>
						<time class="post-date" datetime="{{date format="DD-MMM-YYYY"}}" itemprop="datePublished">{{date format='D MMM YYYY'}}</time>
					</header>
					<hr class="post-header-line">
					<div class="post-excerpt" itemprop="articleBody">
						<p>{{excerpt words="30"}}</p>
					</div>
				</div>
			</a>
		{{/foreach}}
	</div>
	
	{{#if pagination}}
		{{{pagination}}}
	{{/if}}
</main>